h1 {
    text-align: center;


}
h2 {
    text-align: center;
}

#plateau img {
    cursor: url(images/019-SMMCursor.png), pointer;
    width: 20.3vh;
    height: 20.3vh;
    margin-left: 8%;
    margin-top: 3%;
    display: inline-block;
}

#score{
    width: 90%;
    border: black solid;
    display: none;
    margin: auto;
    font-size: 2em;

}
#temps{
    text-align: center;
}
#rejouer {
    position: relative;
    left: 48%;
    text-align: center;

}